

<div class="bg">
    <svg class="bg__scene" width="100%" height="100vh" preserveAspectRatio="none" viewBox="0 0 1440 800" xmlns:pathdata="http://www.codrops.com/">
        <path class="bg__path" d="{{path1}}" pathdata:id="{{path1Data}}"></path>
        <path class="bg__path" d="{{path2}}" pathdata:id="{{path2Data}}"></path>
        <path class="bg__path" d="{{path3}}" pathdata:id="{{path3Data}}"></path>
        <path class="bg__path" d="{{path4}}" pathdata:id="{{path4Data}}"></path>
        <path class="bg__path" d="{{path5}}" pathdata:id="{{path5Data}}"></path>
        <path class="bg__path" d="{{path6}}" pathdata:id="{{path6Data}}"></path>
        <path class="bg__path" d="{{path7}}" pathdata:id="{{path7Data}}"></path>

    </svg>
</div>
