
<div class="login">
    <form action="/" class="login__form">
        <h2 class="login__header">Пожалуйста, авторизируйтесь</h2>

        <div class="login__row">
            <div class="login__col-1">
                <span class="login__input">
                    <input type="email" class="login__field" id="email">
                    <label for="email" class="login__label">
                        <span class="login__label-content" data-content="Введите e-mail">Введите e-mail</span>
                    </label>
                </span>
            </div>
            <div class="login__col-1">
                 <span class="login__input">
                    <input type="password" class="login__field" id="password">
                    <label for="password" class="login__label">
                        <span class="login__label-content" data-content="Введите пароль">Введите пароль</span>
                    </label>
                </span>
            </div>
        </div>

        <div class="login__row">
            <div class="login__col-1">
                <label class="login__check"> Запомнить меня
                    <input class="login__checkbox" type="checkbox" checked="checked">
                    <span class="login__checkmark"></span>
                </label>
            </div>
            <div class="login__col-1">
                <input type="submit" class="login__btn" value="Войти">
            </div>
        </div>
    </form>
</div>
